body {
    background: #00aad4;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px
}
body.connected {
    background-color: #F3F5F9
}

.bg-white {
    background-color: #fff;
    color: #717171
}

a, a:hover {
    text-decoration: none
}
.login-heading {
    color: #FFF;
    border-bottom: solid 1px #0098bd;
    padding: 20px;
    margin: 0;
    background: #009ec5
}
.form-signin {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -150px
}
.form-signin .form-signin-heading, .form-signin .checkbox, .form-signin select {
    margin-bottom: 10px
}
.form-signin .form-signin-heading {
    color: #FFF;
    text-transform: uppercase;
    font-size: 17px
}
.form-signin .checkbox {
    font-weight: normal
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.form-signin .form-control:focus {
    z-index: 2
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: transparent
}
#toolbar {
    background: #009ec5;
    width: 200px;
    position:fixed;
    top: 0;
    vertical-align: top;
    border-right: 2px outset #009ec5;
    height: 100%;
}
#toolbar .main-header {
    height: 65px;
    text-align: center;
}
#toolbar .toolbar-toggle {
    display: none
}

#toolbar a {
    display: block;
}

#toolbar .primary {
    color: #edfbff;
    font-weight: bold;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #0098bd;
}

#toolbar .primary i {
    margin-right: 10px;
}

#toolbar a.secondary {
    color: #edfbff;
    padding: 3px 20px;
    line-height: 25px;
    background: #0086b3;
}

#toolbar a.active, #toolbar a:not(.profil-info):hover {
    color: #05415C;
    transition : 0.2s;
    text-shadow: 1px 1px #AAA;
}

#deconnexion {
    position: absolute;
    width: 200px;
    bottom: 0;
    border-top: 1px solid #0098bd;
}

#toolbar .nav {
    margin: 0;
    padding: 0
}
#toolbar .nav li.bottom-links {
    border-top: solid 1px #0098bd;
    border-bottom: solid 1px #0098bd;
    float: left;
    width: 50%;
    list-style-type: none
}
#toolbar .nav li.bottom-links a {
    background-color: #009ec5;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px
}
#toolbar .nav li.bottom-links a.refresh-link:hover {
    background-color: #00aad4
}
#toolbar .nav li.bottom-links a.disconnect-link:hover {
    background-color: #fb6b5b
}
@media print {
    #toolbar {
        display: none
    }
}

#content {
    margin-left: 200px;
}

#scrollable .wrapper {
    margin: 20px;
    border: #eceff6 solid 1px;
}
#scrollable .wrapper .wrapper {
    border: none
}
.ajout-user {
    padding: 20px
}
.profil-info {
    text-shadow: 1px 1px #555;
    border-top: solid 1px #0098bd;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profil-info .fa-smile-o {
    font-size: 1.5em;
}

.mod-info .nav>li>a {
    padding: 0 20px;
    color: #717171;
    text-transform: uppercase
}
.mod-info .nav>li>a .caret {
    border-top-color: #717171;
    border-bottom-color: #717171
}
.mod-info .nav>li>a:hover {
    color: #fff;
    background-color: #00aad4
}
.mod-info .nav>li>a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}
#mod-toolbar {
    padding: 0
}
#mod-toolbar li {
    float: left;
    list-style-type: none
}
#mod-toolbar li a {
    display: block;
    line-height: 60px;
    padding: 0 20px;
    font-size: 13px;
    font-size: 1.3rem;
    color: #717171
}

#mod-toolbar li a:hover,
#mod-toolbar li a.active {
    color: #FFF;
    background-color: #00aad4;
    text-decoration: none
}
#mod-toolbar li a i {
    margin-right: 10px
}

content-title {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 40px;
    border-bottom: #eceff6 1px solid;
    background-color: #f6f8fb;
    padding: 0 20px;
    font-weight: bold;
    margin: 0
}
#onglet_menu {
    overflow: hidden
}
#onglet_menu .onglet {
    font-size: 14px;
    font-size: 1.4rem;
    border-bottom: #eceff6 1px solid;
    float: left;
    text-align: center;
    line-height: 40px
}
#onglet_menu .onglet .current-year {
    color: #00aad4
}
#onglet_menu .onglet.active {
    border-bottom: transparent;
    font-weight: bold
}
#onglet_menu .onglet.active a {
    background-color: #fff
}
#onglet_menu .onglet:first-child a {
    border-left: none
}
#onglet_menu .onglet a {
    display: block;
    text-align: center;
    color: #6e6e6e;
    background-color: #f6f8fb;
    border-left: solid 1px #eceff6;
    -webkit-transition: background-color, 1s, ease-out;
    -moz-transition: background-color, 1s, ease-out;
    -o-transition: background-color, 1s, ease-out;
    transition: background-color, 1s, ease-out
}
#onglet_menu .onglet a:hover {
    text-decoration: none;
    background-color: #fff
}
#onglet_menu .onglet a .current-year {
    color: #00aad4
}
#onglet_menu .onglet.calendar-nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6f8fb;
    border-left: solid 1px #eceff6
}
#onglet_menu .onglet.calendar-nav ul {
    float: right;
    margin: 0 20px;
    padding: 0
}
#onglet_menu .onglet.calendar-nav ul li {
    padding: 0 5px;
    margin: 0;
    list-style-type: none;
    float: left
}
#onglet_menu .onglet.calendar-nav ul li a {
    border: none;
    padding: 0 5px;
    color: #00aad4
}
#onglet_menu .onglet.calendar-nav ul li a span {
    display: none
}
#onglet_menu .onglet.calendar-nav ul li.current-year {
    color: #00aad4;
    line-height: 40px;
    font-weight: bold
}
.main-content {
    padding: 20px
}
.main-content h1 {
    font-size: 20px;
    font-size: 2rem;
    text-transform: uppercase
}
.main-content h2 {
    font-size: 18px;
    font-size: 1.8rem
}
.main-content.traite_user .calendar-nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right
}
.main-content.traite_user .calendar-nav ul {
    float: right;
    margin: 0 20px;
    padding: 0
}
.main-content.traite_user .calendar-nav ul li {
    line-height: 20px;
    padding: 0 5px;
    margin: 0;
    list-style-type: none;
    float: left
}
.main-content.traite_user .calendar-nav ul li a {
    border: none;
    padding: 0 5px;
    color: #00aad4
}
.main-content.traite_user .calendar-nav ul li a span {
    display: none
}
.main-content.traite_user .calendar-nav ul li.current-year {
    color: #00aad4;
    font-weight: bold
}
.inactif {
    color: #b66;
}
form .table tbody>tr>td,
form .table-condensed tbody>tr>td {
    vertical-align: middle
}
form .table tbody>tr.update-line td,
form .table-condensed tbody>tr.update-line td {
    min-width: 70px
}
form .inline-date {
    line-height: 34px
}
form .inline-date .form-control {
    width: auto;
    display: inline
}
.table .action {
    text-align: right
}
.table .action i {
    margin-left: 10px
}
.table .utilisateur span {
    display: block;
    font-size: 11px;
    font-size: 1.1rem
}
.table .utilisateur .login {
    font-weight: bold;
    font-size: 12px;
    font-size: 1.2rem
}
.table .utilisateur .rights {
    font-style: italic
}
.table .utilisateur .responsable {
    border-top: dotted 1px #d4d4d4;
    margin-top: 3px;
    padding-top: 3px
}
.table .demi {
    display: block;
    font-weight: bold;
    color: #bbb;
    font-size: 11px;
    font-size: 1.1rem
}
footer {
    padding: 20px;
    text-align: right
}

.calendar.calendar-year {
    overflow: hidden
}
.calendar .month {
    float: left;
    width: 25%
}
.calendar .month .wrapper {
    margin: 5px
}
@media screen and (max-width: 1199px) {
    .calendar .month {
        width: 33%
    }
}
@media screen and (max-width: 959px) {
    .calendar .month {
        width: 50%
    }
}
@media screen and (max-width: 479px) {
    .calendar .month {
        width: 100%
    }
}
.calendar .month table {
    border: solid 1px #dbe1ed;
    width: 100%
}
.calendar .month table th, .calendar .month table td {
    line-height: 24px;
    text-align: center;
    border: solid 1px #eceff6
}
@media screen and (min-width: 1400px) {
    .calendar .month table th input[type="checkbox"],
    .calendar .month table td input[type="checkbox"] {
        display: inline-block;
        margin-left: 3px
    }
}
.calendar .month table thead .titre {
    padding: 5px 0;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #e2e7f0
}
.calendar .month table thead tr {
    background-color: #f3f5f9;
    border-bottom: #eceff6 solid 1px
}
.calendar .month table .fermeture {
    background: #fc8174;
    border: solid 1px #fb6b5b;
    color: #fff
}
.calendar .month table .month-out {
    background-color: #f3f5f9
}

.table-calendar {
    min-width: 320px
}
.table th.titre {
    text-align: center
}
.table td.cell-top {
    vertical-align: top
}
.calendrier_saisie_date {
    margin-bottom: 0
}
.calendrier_saisie_date input {
    margin-left: 5px
}
.day-period label {
    display: inline-block;
    margin: 0 10px
}
#group-select-form .form-control {
    width: auto
}
.popup {
    background-color: #fff
}
.popup h1 {
    font-size: 24px;
    font-size: 2.4rem
}

.alert {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}
.configure select, .configure .form-control {
    display: inline-block;
    width: 50%;
    min-width: 150px
}
.configure .plugins select {
    width: 50px
}
#form-fermeture {
    margin-bottom: 20px;
    overflow: hidden
}
#form-fermeture.form-inline .form-group {
    margin-right: 5px
}
#form-fermeture.form-inline button {
    margin-top: 23px
}
.type-conges label {
    display: block
}
.error {
    text-align: center
}
.error .container {
    margin-top: 40px;
    background: #f3f5f9;
    display: inline-block;
    line-height: 1.2;
    text-align: left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 20px 40px 40px 40px
}
.error .container .icon-header {
    font-size: 80px;
    font-size: 8rem;
    color: #fb6b5b;
    text-align: center;
    margin-bottom: 20px
}
.admin-back {
    color: #009ec5;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 20px
}
.admin-back:hover {
    color: #00b2df;
    text-decoration: none
}
.admin-back .fa {
    margin-right: 10px;
    font-size: 28px;
    position: relative;
    top: 4px
}

#toolbar a i{
    font-size: 1.5em;
    margin-right:5px
}

.alert-info {
    background-color: #f6f8fb;
    border-color: #eceff6
}

/*fonts*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../Font/OpenSans/open-sans.woff2) format('woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../Font/OpenSans/open-sans-ext.woff2) format('woff2');
}

form.search {
    padding : 10px;
    margin: 30px auto;
    line-height : 30px;
    background : #F4F4F4;
    border-radius : 3px;
}

/* CALENDRIER */
#calendar-wrapper {
    padding : 15px;
}

#calendar-wrapper h1 {
    font-size: 20px;
    font-size: 2rem;
    text-transform: uppercase
}

#calendar-wrapper h2 {
    text-align: center;
}

table#calendrier {
    width: 99%;
    margin: auto;
}


#calendrier #entete th {
    text-align: center;
}

#calendrier #entete th.today {
    background: #009ec5;
    color: white;
}

td.calendrier-nom {
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.calendrier-jour {
    border: 1px solid #909090;
    position: relative;
}

td.calendrier-jour .title {
    position: absolute;
    min-width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 3px;
    background: white;
    border: 1px solid #F4F4F4;
    box-shadow: 0 0 2px #F4F4F4;
    display: none;
    z-index: 10;
}

td.calendrier-jour:hover .title {
    display: block;
}

td.calendrier-jour.weekend {
    background: #AEAEAE;
}

td.calendrier-jour.ferie {
    background: #6fb2bc;
}

td.calendrier-jour.fermeture {
    background: #CEB6FF;
}

th.horsMois {
    background: #CCC;
    color: white;
}

td.calendrier-jour.conge_all.conge_ok {
    background: #1ABC9C;
}

td.calendrier-jour.echange_all {
    background: #d5ff2b;
}

td.calendrier-jour.echange_am {
    background: linear-gradient(90deg, #d5ff2b 50%, rgba(255,0,0,0) 50%);
}

td.calendrier-jour.echange_pm {
    background: linear-gradient(90deg, rgba(255,0,0,0) 50%,  #d5ff2b 50%);
}

td.calendrier-jour.conge_all.conge_demande, td.calendrier-jour.conge_all.conge_valid {
    background: rgba(26, 188, 156, 0.5);
}

td.calendrier-jour.conge_am.conge_ok {
    background: linear-gradient(90deg, #1ABC9C 50%, rgba(255,0,0,0) 50%);
}

td.calendrier-jour.conge_am.conge_demande, td.calendrier-jour.conge_am.conge_valid {
    background: linear-gradient(90deg, rgba(26, 188, 156, 0.5) 50%, rgba(255,0,0,0) 50%);
}

td.calendrier-jour.conge_pm.conge_ok {
    background: linear-gradient(90deg, rgba(255,0,0,0) 50%,  #1ABC9C 50%);
}

td.calendrier-jour.conge_pm.conge_demande, td.calendrier-jour.conge_pm.conge_valid {
    background: linear-gradient(90deg, rgba(255,0,0,0) 50%, rgba(26, 188, 156, 0.5) 50%);
}

td.calendrier-jour.heure_additionnelle_3 div.triangle-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #6666ff;
}

td.calendrier-jour.heure_additionnelle_2 div.triangle-top,
td.calendrier-jour.heure_additionnelle_1 div.triangle-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(102, 102, 225, 0.5);
}

td.calendrier-jour.heure_repos_3 div.triangle-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #e01414;
}


td.calendrier-jour.heure_repos_2 div.triangle-bottom,
td.calendrier-jour.heure_repos_1 div.triangle-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid rgba(224, 20, 20, 0.5);
}

#manageUser .suggestions {
	width:100px;position:absolute;margin:-6px auto 0;padding:0;list-style-type:none;border:1px solid #d5d4d4;background:#fff;display: none;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#555;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;	
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#manageUser .suggestions li {height:25px;padding:0 10px;line-height:25px;cursor:pointer;border-top:1px solid #f5f5f5}
#manageUser .suggestions li:hover {background:#fffac2;background-position:320px center;border-top-color:#fffac2}
#manageUser .suggestions li:first-child {border:none;}