/* #################################### */
/* ######        Tableau         ###### */
/* #################################### */
/* border = 3arguments : size color type (type= solid, double, dotted, outset, inset, groove, ...) */


/* style pour le tableau du calendrier */
table.tablo-cal{
	border: 2px #000000 outset;
	border-spacing: 0px ;
}

/*style pour les lignes de calendrier (en version imprimable)*/
tr.cal-ligne-edit{
	background-color: #ffffff;
	color: red;
}

/* ################################################## */
/* ######     Tableau Calendrier de saise      ###### */
/* ################################################## */

/* style pour les cellules des calendriers de saisie */
td.cal-saisie{
	border-bottom: 1px #5B8BAB solid;
	border-right: 1px #5B8BAB solid;
	height: 16px ;
	width: 35pt;
}

/* style pour les cellules des calendriers de saisie (pour les cellules de jour ou sans date */
td.cal-saisie2{
	border-bottom: 1px #5B8BAB solid;
	border-right: 1px #5B8BAB solid;
	text-align: center;
}

/* style pour les premieres cellules du calendriers de saisie (a gauche, qui contiennent les infos du user) */
td.cal-user{
	border-bottom: 1px #5B8BAB solid;
	height: 20px ;
}

/* style pour les cellules du calendriers */
td.cal-day{
	border-bottom: 1px #5B8BAB solid;
	border-right: 1px #5B8BAB solid;
	height: 20px ;
	width: 25px;
}

/* ################################################## */
/* ######        Tableau Edition Papier        ###### */
/* ################################################## */
/* border = 3arguments : size color type (type= solid, double, dotted, outset, inset, groove, ...) */

table.tablo-edit{
	border: 3px #000000 outset;
	border-spacing: 0px ;
}

/* style pour les cellules de historiques */
td.histo-edit{
	border: 1px black inset;
	text-align: center;
}

td.histo-edit-big{
	border: 1px black inset;
	font: 9pt arial, helvetica, sans-serif;
	font-weight:bold;
}

td.titre-edit{
	font-weight:bold;
	border: 1px black inset;
	background-color: lightgrey;
	text-align: center;
}

td.histo-edit-left{
	border: 1px black inset;
	text-align: left;
}

/* ########################################## */
/* ######     Cellules Calendrier      ###### */
/* ########################################## */
/*****************************/

.weekend{
	background-image: url(img/cal/calendrier_week_end_bgimg.gif) ;
}

/*****************************/

.fermeture{
	background-image: url(img/cal/calendrier_demande-am_demande-pm_bgimg.gif) ;
}

/*****************************/

.semaine.travail_am.travail_pm{
	background-image: url(img/cal/calendrier_semaine_bgimg.gif) ;
}

.semaine.travail_am.conges_pm{
	background-image: url(img/cal/calendrier_travail-am_conges-pm_bgimg.gif) ;
}

.semaine.travail_am.rtt_pm{
	background-image: url(img/cal/calendrier_travail-am_rtt-pm_bgimg.gif) ;
}

.semaine.travail_am.demande_pm{
	background-image: url(img/cal/calendrier_travail-am_demande-pm_bgimg.gif) ;
}

.semaine.travail_am.autre_pm{
	background-image: url(img/cal/calendrier_travail-am_autre-pm_bgimg.gif) ;
}

/*****************************/

.semaine.conges_am.rtt_pm{
	background-image: url(img/cal/calendrier_conges-am_rtt-pm_bgimg.gif) ;
}

.semaine.conges_am.conges_pm{
	background-image: url(img/cal/calendrier_conges-am_conges-pm_bgimg.gif) ;
}


.semaine.conges_am.travail_pm{
	background-image: url(img/cal/calendrier_conges-am_travail-pm_bgimg.gif) ;
}

.semaine.conges_am.demande_pm{
	background-image: url(img/cal/calendrier_conges-am_demande-pm_bgimg.gif) ;
}

.semaine.conges_am.autre_pm{
	background-image: url(img/cal/calendrier_conges-am_autre-pm_bgimg.gif) ;
}

/*****************************/

.semaine.rtt_am.rtt_pm{
	background-image: url(img/cal/calendrier_rtt-am_rtt-pm_bgimg.gif) ;
}

.semaine.rtt_am.conges_pm{
	background-image: url(img/cal/calendrier_rtt-am_conges-pm_bgimg.gif) ;
}

.semaine.rtt_am.travail_pm{
	background-image: url(img/cal/calendrier_rtt-am_travail-pm_bgimg.gif) ;
}


.semaine.rtt_am.demande_pm{
	background-image: url(img/cal/calendrier_rtt-am_demande-pm_bgimg.gif) ;
}


.semaine.rtt_am.autre_pm{
	background-image: url(img/cal/calendrier_rtt-am_autre-pm_bgimg.gif) ;
}

/*****************************/

.semaine.demande_am.demande_pm{
	background-image: url(img/cal/calendrier_demande-am_demande-pm_bgimg.gif) ;
}

.semaine.demande_am.travail_pm{
	background-image: url(img/cal/calendrier_demande-am_travail-pm_bgimg.gif) ;
}


.semaine.demande_am.conges_pm{
	background-image: url(img/cal/calendrier_demande-am_conges-pm_bgimg.gif) ;
}


.semaine.demande_am.rtt_pm{
	background-image: url(img/cal/calendrier_demande-am_rtt-pm_bgimg.gif) ;
}

.semaine.demande_am.autre_pm{
	background-image: url(img/cal/calendrier_demande-am_autre-pm_bgimg.gif) ;
}

/*****************************/

.semaine.autre_am.autre_pm{
	background-image: url(img/cal/calendrier_autre-am_autre-pm_bgimg.gif) ;
}

.semaine.autre_am.conges_pm{
	background-image: url(img/cal/calendrier_autre-am_conges-pm_bgimg.gif) ;
}

.semaine.autre_am.travail_pm{
	background-image: url(img/cal/calendrier_autre-am_travail-pm_bgimg.gif) ;
}

.semaine.autre_am.demande_pm{
	background-image: url(img/cal/calendrier_autre-am_demande-pm_bgimg.gif) ;
}

.semaine.autre_am.rtt_pm{
	background-image: url(img/cal/calendrier_autre-am_rtt-pm_bgimg.gif) ;
}



td.big{
	font: 9pt arial, helvetica, sans-serif;
	font-weight:bold;
}

/* style pour les cellules titre des tableaux */
td.titre{
	background-color:#E1EAEF;
	color: #666666;
	font-weight: bold;
	font-family: Verdana, Arial;
	font-size: 11px;
	text-align: center;
}

td.onglet{
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	border: 2;
	padding:0px;
	position: static;
	left: 2;
	top: 2;
	color:#5154ad;
	background-color:#ffffff;
	border: 1px black inset;
}

td.current-onglet{
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	border: 2;
	padding:0px;
	position: static;
	left: 2;
	top: 2;
	color:#58b984;
	border: 1px black inset;
}


/***********************************/
/***** AJOUT DE LA VERSION 1.2 ***/

/* style pour les cellules des petits calendriers (calendar) */
td.calendar-header{
	border-bottom: 1px #5B8BAB solid;
	font-weight:bold;
	text-align: center;
}

td.calendar{
	border: 0px solid;
	text-align: center;
}

a.calendar{
	text-decoration: none;
}


/**************************************/
/***** AJOUT DE LA VERSION 1.3.0 ***/

td div.cal-bulles{
	display: none;
	position:	absolute;
	top:		auto;
	left:		auto;
	border:		1px solid #336699;
	background-color:	#eeeeee;
	color:		#000000;
	text-align: center;
	font-weight: none;
	padding:	4px;
	text-decoration: none;
}



/**************************************/
/***** AJOUT DE LA VERSION 1.4.0 ***/

/*****************************/

.semaine.fermeture_am.fermeture_pm{
	background-image: url(img/cal/calendrier_fermeture-am_fermeture-pm_bgimg.gif) ;
}

.semaine.fermeture_am.conges_pm{
	background-image: url(img/cal/calendrier_fermeture-am_conges-pm_bgimg.gif) ;
}

.semaine.fermeture_am.travail_pm{
	background-image: url(img/cal/calendrier_fermeture-am_travail-pm_bgimg.gif) ;
}

.semaine.fermeture_am.demande_pm{
	background-image: url(img/cal/calendrier_fermeture-am_demande-pm_bgimg.gif) ;
}

.semaine.fermeture_am.rtt_pm{
	background-image: url(img/cal/calendrier_fermeture-am_rtt-pm_bgimg.gif) ;
}

.semaine.conges_am.fermeture_pm{
	background-image: url(img/cal/calendrier_conges-am_fermeture-pm_bgimg.gif) ;
}

.semaine.travail_am.fermeture_pm{
	background-image: url(img/cal/calendrier_travail-am_fermeture-pm_bgimg.gif) ;
}

.semaine.demande_am.fermeture_pm{
	background-image: url(img/cal/calendrier_demande-am_fermeture-pm_bgimg.gif) ;
}

.semaine.rtt_am.fermeture_pm{
	background-image: url(img/cal/calendrier_rtt-am_fermeture-pm_bgimg.gif) ;
}
