//   /$$$$$$$   /$$$$$$  /$$$$$$$  /$$     /$$
//  | $$__  $$ /$$__  $$| $$__  $$|  $$   /$$/
//  | $$  \ $$| $$  \ $$| $$  \ $$ \  $$ /$$/
//  | $$$$$$$ | $$  | $$| $$  | $$  \  $$$$/
//  | $$__  $$| $$  | $$| $$  | $$   \  $$/
//  | $$  \ $$| $$  | $$| $$  | $$    | $$
//  | $$$$$$$/|  $$$$$$/| $$$$$$$/    | $$
//  |_______/  \______/ |_______/     |__/

body{
  background: $firm-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;

  &.connected {
    background-color: #F3F5F9;
  }
}

html, body, #content{
  height: 100%;
}

.hbox {
  display: table;
}

.bg-white {
  background-color: #fff;
  color: $text-color;
}

.header{
  min-height: 61px;
  line-height: 61px;
  border-bottom: $border-color solid 1px;
}

a{
  text-decoration: none;
}

//    /$$$$$$  /$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$ /$$   /$$       /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$      /$$
//   /$$__  $$|_  $$_/ /$$__  $$| $$$ | $$|_  $$_/| $$$ | $$      | $$_____/ /$$__  $$| $$__  $$| $$$    /$$$
//  | $$  \__/  | $$  | $$  \__/| $$$$| $$  | $$  | $$$$| $$      | $$      | $$  \ $$| $$  \ $$| $$$$  /$$$$
//  |  $$$$$$   | $$  | $$ /$$$$| $$ $$ $$  | $$  | $$ $$ $$      | $$$$$   | $$  | $$| $$$$$$$/| $$ $$/$$ $$
//   \____  $$  | $$  | $$|_  $$| $$  $$$$  | $$  | $$  $$$$      | $$__/   | $$  | $$| $$__  $$| $$  $$$| $$
//   /$$  \ $$  | $$  | $$  \ $$| $$\  $$$  | $$  | $$\  $$$      | $$      | $$  | $$| $$  \ $$| $$\  $ | $$
//  |  $$$$$$/ /$$$$$$|  $$$$$$/| $$ \  $$ /$$$$$$| $$ \  $$      | $$      |  $$$$$$/| $$  | $$| $$ \/  | $$
//   \______/ |______/ \______/ |__/  \__/|______/|__/  \__/      |__/       \______/ |__/  |__/|__/     |__/

.login-heading{
  /*font-weight: bold;*/
  color: #FFF;
  border-bottom: solid 1px $firm-border;
  padding: 20px;
  margin: 0;
  background: $brand-color;
}

.form-signin{
  width:300px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;

  .form-signin-heading, .checkbox, select{
    margin-bottom: 10px;
  }

  .form-signin-heading{
    color: #FFF;
    text-transform: uppercase;
    font-size: 17px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .form-control:focus {
    z-index: 2;
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: transparent;
  }

}

//   /$$$$$$$$  /$$$$$$   /$$$$$$  /$$       /$$$$$$$   /$$$$$$  /$$$$$$$
//  |__  $$__/ /$$__  $$ /$$__  $$| $$      | $$__  $$ /$$__  $$| $$__  $$
//     | $$   | $$  \ $$| $$  \ $$| $$      | $$  \ $$| $$  \ $$| $$  \ $$
//     | $$   | $$  | $$| $$  | $$| $$      | $$$$$$$ | $$$$$$$$| $$$$$$$/
//     | $$   | $$  | $$| $$  | $$| $$      | $$__  $$| $$__  $$| $$__  $$
//     | $$   | $$  | $$| $$  | $$| $$      | $$  \ $$| $$  | $$| $$  \ $$
//     | $$   |  $$$$$$/|  $$$$$$/| $$$$$$$$| $$$$$$$/| $$  | $$| $$  | $$
//     |__/    \______/  \______/ |________/|_______/ |__/  |__/|__/  |__/

#toolbar{
  background: $brand-color;

  .main-header{
    position: relative;
  }

  .toolbar-toggle{
    display: none;
  }

  @include respond-min($m768) {
    min-width: 200px;
    min-height: 100%;
    display: table-cell;
    vertical-align: top;
  }

  @include respond-max($m768) {
    .toolbar-toggle{
      display: block;
      position: absolute;
      font-size: 24px;
      color: #FFF;
      right: 20px;
      top: 20px;
      opacity: 0.8;

      &:hover{
        opacity: 1;
      }
    }

    .tools{
      display: none;
    }

  }

  .brand {
    font-size: 17px;
    margin: 0;

    a {
      color: #edfbff;
      display: block;
      line-height: 60px;
      padding: 0 20px;
      text-align: center;
      background: $brand-color;
      border-bottom: solid 1px $firm-border;

      &:hover{
        color: #FFF;
        text-decoration: none;
        background: $brand-color-hover;
      }
    }
  }

  /*--- bottom-links ---*/
  .nav{
    margin: 0;
    padding: 0;

    li.bottom-links {
      border-top: solid 1px $firm-border;
      border-bottom: solid 1px $firm-border;
      float: left;
      width: 50%;
      list-style-type: none;

      a {
        background-color: $brand-color;
        display: block;
        text-align: center;
        color: $white;
        padding: 10px;

        &.refresh-link:hover {
          background-color: $firm-color;
        }
        &.disconnect-link:hover{
          background-color: $red;
        }
      }
    }
  }
}

@media print {
  #toolbar {
    display: none;
  }
}

#content {
  @include respond-min($m768) {
    margin-right: 200px;
    width: 100%;
    height: 100%;
    display: table-cell;
  }
}


//    /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$  /$$       /$$        /$$$$$$  /$$$$$$$  /$$       /$$$$$$$$
//   /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$| $$      | $$       /$$__  $$| $$__  $$| $$      | $$_____/
//  | $$  \__/| $$  \__/| $$  \ $$| $$  \ $$| $$      | $$      | $$  \ $$| $$  \ $$| $$      | $$
//  |  $$$$$$ | $$      | $$$$$$$/| $$  | $$| $$      | $$      | $$$$$$$$| $$$$$$$ | $$      | $$$$$
//   \____  $$| $$      | $$__  $$| $$  | $$| $$      | $$      | $$__  $$| $$__  $$| $$      | $$__/
//   /$$  \ $$| $$    $$| $$  \ $$| $$  | $$| $$      | $$      | $$  | $$| $$  \ $$| $$      | $$
//  |  $$$$$$/|  $$$$$$/| $$  | $$|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$$$$$$$
//   \______/  \______/ |__/  |__/ \______/ |________/|________/|__/  |__/|_______/ |________/|________/
//
#scrollable {
  .wrapper{
    margin: 20px;
    border: $border-color solid 1px;

    .wrapper {
      border: none;
    }
  }
}

.ajout-user{
  padding: 20px;
}

/*--- profil info ---*/
.profil-info {
  padding: 20px;
  background: $green;
  color: $white;

  .fa-smile-o {
    float: left;
    @include font-size(24);
  }

  .user-login {
    text-transform: uppercase;

    .name {
      font-weight: bold;
    }
  }

  .wrapper {
    margin-left: 40px;
  }
}

/*--- calendar link ---*/
.calendar-link a{
  border-top: solid 1px $firm-border;
  display: block;
  text-align: left;
  padding: 20px 0;
  background: $brand-color;
  color: #FFF;
}

.calendar-link a:hover{
  text-decoration: none;
  background-color: $firm-color;
}

.calendar-link i{
  margin-right: 5px;
}

/*--- mod-info ---*/
.mod-info {
  .nav {
    >li {
      >a {
        padding: 0 20px;
        color: $text-color;
        text-transform: uppercase;

        .caret {
          border-top-color: $text-color;
          border-bottom-color: $text-color;
        }

        &:hover {
          color: $white;
          background-color: $firm-color;

          .caret {
            border-top-color: $white;
            border-bottom-color: $white;
          }
        }
      }
    }
  }
}

/*--- mod-toolbar ---*/
#mod-toolbar {
  padding: 0;

  li {
    float: left;
    list-style-type: none;

    a{
      display: block;
      line-height: 60px;
      padding: 0 20px;
      @include font-size(13);

      // font-weight: bold;
      color: $text-color;

      @include respond-max($m768) {
        padding: 0 13px;
      }

      &:hover, &.active {
        color: #FFF;
        background-color: $firm-color;
        text-decoration: none;
      }

      i {
        margin-right: 10px;

        @include respond-max($m1024) {
          margin-right: 0;
          @include font-size(17);
        }

      }

      span {
        @include respond-max($m1024) {
          display: none;
        }
      }
    }
  }

}

//    /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$
//   /$$__  $$ /$$__  $$| $$$ | $$|__  $$__/| $$_____/| $$$ | $$|__  $$__/
//  | $$  \__/| $$  \ $$| $$$$| $$   | $$   | $$      | $$$$| $$   | $$
//  | $$      | $$  | $$| $$ $$ $$   | $$   | $$$$$   | $$ $$ $$   | $$
//  | $$      | $$  | $$| $$  $$$$   | $$   | $$__/   | $$  $$$$   | $$
//  | $$    $$| $$  | $$| $$\  $$$   | $$   | $$      | $$\  $$$   | $$
//  |  $$$$$$/|  $$$$$$/| $$ \  $$   | $$   | $$$$$$$$| $$ \  $$   | $$
//   \______/  \______/ |__/  \__/   |__/   |________/|__/  \__/   |__/
//

.content-title {
  @include font-size(14);
  line-height: 40px;
  border-bottom: $border-color 1px solid;
  background-color: lighten($blue-light, 1%);
  padding: 0 20px;
  font-weight: bold;
  margin: 0;
}

#onglet_menu {
  overflow: hidden;

  .onglet{
    @include font-size(14);
    border-bottom: $border-color 1px solid;
    float: left;
    text-align: center;
    line-height: 40px;

    .current-year {
      color: $firm-color;
    }

    &.active{
      border-bottom: transparent;
      font-weight: bold;

      a {
        background-color: $white;
      }
    }

    &:first-child {
      a {
        border-left: none;
      }
    }

    a{
      display: block;
      text-align: center;
      color: darken($gray, 30%);
      background-color: lighten($blue-light, 1%);
      border-left: solid 1px $border-color;
      @include transition(background-color, 1s, ease-out);

      &:hover {
        text-decoration: none;
        background-color: $white;
      }

      .current-year {
        color: $firm-color;
      }
    }

    &.calendar-nav {
      margin: 0;
      padding: 0;
      // display: inline-block;
      overflow: hidden;
      background-color: lighten($blue-light, 1%);
      border-left: solid 1px $border-color;

      ul{
        float: right;
        margin: 0 20px;
        padding: 0;

        li {
          padding: 0 5px;
          margin: 0;
          list-style-type: none;
          float:left;

          a {
            border: none;
            padding: 0 5px;
            color: $firm-color;

            span {
              display: none;
            }
          }

          &.current-year {
            color: $firm-color;
            line-height: 40px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.main-content {
  padding: 0 20px 20px 20px;

  h1 {
    @include font-size(20);
    text-transform: uppercase;
  }

  h2 {
    @include font-size(18);
  }

  &.traite_user {
    .calendar-nav {
      margin: 0;
      padding: 0;
      // display: inline-block;
      overflow: hidden;
      float: right;

      ul{
        float: right;
        margin: 0 20px;
        padding: 0;

        li {
          line-height: 20px;
          padding: 0 5px;
          margin: 0;
          list-style-type: none;
          float:left;

          a {
            border: none;
            padding: 0 5px;
            color: $firm-color;

            span {
              display: none;
            }
          }

          &.current-year {
            color: $firm-color;
            font-weight: bold;
          }
        }
      }
    }
  }
}

form .table tbody>tr, form .table-condensed tbody>tr {
  >td {
    vertical-align: middle;
  }

  &.update-line {
    td {
      min-width: 70px;
    }
  }
}

form {
  .inline-date {
    line-height: 34px;
    .form-control {
      width: auto;
      display: inline;
    }
  }
}

.table {
  .action {
    text-align: right;
    i{
      margin-left: 10px;
    }
  }

  .utilisateur {
    span {
      display: block;
      @include font-size(11);
    }
    .login{
      font-weight: bold;
      @include font-size(12);
    }
    .rights {
      font-style: italic;
    }

    .responsable {
      border-top : dotted 1px lighten($gray,10%);
      margin-top: 3px;
      padding-top: 3px;
    }
  }

  .demi {
    display: block;
    font-weight: bold;
    color: $gray;
    @include font-size(11);
  }
}

//   /$$$$$$$$  /$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$$$ /$$$$$$$
//  | $$_____/ /$$__  $$ /$$__  $$|__  $$__/| $$_____/| $$__  $$
//  | $$      | $$  \ $$| $$  \ $$   | $$   | $$      | $$  \ $$
//  | $$$$$   | $$  | $$| $$  | $$   | $$   | $$$$$   | $$$$$$$/
//  | $$__/   | $$  | $$| $$  | $$   | $$   | $$__/   | $$__  $$
//  | $$      | $$  | $$| $$  | $$   | $$   | $$      | $$  \ $$
//  | $$      |  $$$$$$/|  $$$$$$/   | $$   | $$$$$$$$| $$  | $$
//  |__/       \______/  \______/    |__/   |________/|__/  |__/

footer{
  // position: absolute;
  // bottom: 20px;
  // right: 20px;
  padding: 20px;
  text-align: right;
}


//    /$$$$$$   /$$$$$$  /$$       /$$$$$$$$ /$$   /$$ /$$$$$$$   /$$$$$$  /$$$$$$$
//   /$$__  $$ /$$__  $$| $$      | $$_____/| $$$ | $$| $$__  $$ /$$__  $$| $$__  $$
//  | $$  \__/| $$  \ $$| $$      | $$      | $$$$| $$| $$  \ $$| $$  \ $$| $$  \ $$
//  | $$      | $$$$$$$$| $$      | $$$$$   | $$ $$ $$| $$  | $$| $$$$$$$$| $$$$$$$/
//  | $$      | $$__  $$| $$      | $$__/   | $$  $$$$| $$  | $$| $$__  $$| $$__  $$
//  | $$    $$| $$  | $$| $$      | $$      | $$\  $$$| $$  | $$| $$  | $$| $$  \ $$
//  |  $$$$$$/| $$  | $$| $$$$$$$$| $$$$$$$$| $$ \  $$| $$$$$$$/| $$  | $$| $$  | $$
//   \______/ |__/  |__/|________/|________/|__/  \__/|_______/ |__/  |__/|__/  |__/

.calendar {
  @include font-size(13);
  padding-bottom: 50px;
  // overflow: hidden;

  &.calendar-year {
    overflow: hidden;
  }

  .month {
    float: left;
    width: 25%;

    .wrapper {
      margin: 5px;
    }

    @include respond-max($m1200) {
      width: 33%;
    }

    @include respond-max($m960) {
      width: 50%;
    }

    @include respond-max($m480) {
      width: 100%;
    }

    table {
      border: solid 1px darken($border-color, 5%);
      width: 100%;

      th, td {
        line-height: 24px;
        text-align: center;
        border: solid 1px $border-color;

        input[type="checkbox"] {
          @include respond-min($m1400) {
            display: inline-block;
            margin-left: 3px;
          }
        }
      }

      thead {
        .titre {
          padding: 5px 0;
          font-weight: normal;
          text-transform: uppercase;
          background-color: darken($blue-light, 5%);
        }

        tr {
          background-color: $blue-light;
          border-bottom: $border-color solid 1px;
        }
      }

      .fermeture {
        background: lighten($red, 5%);
        border: solid 1px $red;
        color: $white;
      }

      .month-out {
        background-color: $blue-light;
      }
    }
  }
}

  .cal-day {
    position: relative;

    &:hover{
      background: $firm-color;
      color: $white;
      border-color: $firm-color;
    }
  }

  .calendar-nav {
    width: 100%;
    margin: 20px 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      width: 25%;
      padding: 0;
    }
  }
}

.table-calendar{
  min-width: 320px;
}

.table {
  th {
    &.titre {
      text-align: center;
    }
  }
}

.table td.cell-top {
  vertical-align: top;
}

.calendrier_saisie_date {
  margin-bottom: 0;

  input {
    margin-left: 5px;
  }
}

.day-period {
  label{
    display: inline-block;
    margin: 0 10px;
  }
}

#group-select-form {
  .form-control {
    width: auto;
  }
}

//   /$$$$$$$   /$$$$$$  /$$$$$$$  /$$   /$$ /$$$$$$$
//  | $$__  $$ /$$__  $$| $$__  $$| $$  | $$| $$__  $$
//  | $$  \ $$| $$  \ $$| $$  \ $$| $$  | $$| $$  \ $$
//  | $$$$$$$/| $$  | $$| $$$$$$$/| $$  | $$| $$$$$$$/
//  | $$____/ | $$  | $$| $$____/ | $$  | $$| $$____/
//  | $$      | $$  | $$| $$      | $$  | $$| $$
//  | $$      |  $$$$$$/| $$      |  $$$$$$/| $$
//  |__/       \______/ |__/       \______/ |__/

.popup {
  background-color: $white;

  h1 {
    @include font-size(24);
  }
}

.alert {
  @include border-radius(0);
}


//   /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$      /$$  /$$$$$$
//  | $$_____/ /$$__  $$| $$__  $$| $$$    /$$$ /$$__  $$
//  | $$      | $$  \ $$| $$  \ $$| $$$$  /$$$$| $$  \__/
//  | $$$$$   | $$  | $$| $$$$$$$/| $$ $$/$$ $$|  $$$$$$
//  | $$__/   | $$  | $$| $$__  $$| $$  $$$| $$ \____  $$
//  | $$      | $$  | $$| $$  \ $$| $$\  $ | $$ /$$  \ $$
//  | $$      |  $$$$$$/| $$  | $$| $$ \/  | $$|  $$$$$$/
//  |__/       \______/ |__/  |__/|__/     |__/ \______/

.configure {

  select,  .form-control {
    display: inline-block;
    width: 50%;
    min-width: 150px;
  }

  .plugins {
    select {
      width: 50px;
    }
  }

}

#form-fermeture {
  margin-bottom: 20px;
  overflow: hidden;

  &.form-inline {
    .form-group{
      margin-right: 5px;
    }

    button {
      margin-top: 23px;
    }
  }
}

.type-conges {
  label {
    display: block;
  }
}


//   /$$$$$$$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$
//  | $$_____/| $$__  $$| $$__  $$ /$$__  $$| $$__  $$ /$$__  $$
//  | $$      | $$  \ $$| $$  \ $$| $$  \ $$| $$  \ $$| $$  \__/
//  | $$$$$   | $$$$$$$/| $$$$$$$/| $$  | $$| $$$$$$$/|  $$$$$$
//  | $$__/   | $$__  $$| $$__  $$| $$  | $$| $$__  $$ \____  $$
//  | $$      | $$  \ $$| $$  \ $$| $$  | $$| $$  \ $$ /$$  \ $$
//  | $$$$$$$$| $$  | $$| $$  | $$|  $$$$$$/| $$  | $$|  $$$$$$/
//  |________/|__/  |__/|__/  |__/ \______/ |__/  |__/ \______/
.error {
  text-align: center;

  .container {
    margin-top: 40px;
    background: $blue-light;
    display: inline-block;
    line-height: 1.2;
    text-align: left;
    @include border-radius(6px);
    padding: 20px 40px 40px 40px;

    .icon-header {
      @include font-size(80);
      // color: darken($blue-light, 20%);
      color: $red;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}


.admin-back {
    color: $brand-color;
    line-height: 28px;
    display: inline-block;

    &:hover {
      color: lighten($brand-color, 5%);
      text-decoration: none;
    }

    .fa {
      margin-right: 10px;
      font-size: 28px;
      position: relative;
      top: 4px;
    }

    margin-bottom: 20px;
}

.alert-info {
  background-color: lighten($blue-light, 1%);
  border-color: $border-color;
}
