//
//---- colors ---
//
$firm-color: #00AAD4;
$firm-border: #0098bd;
$text-color: #717171;
$brand-color: #009ec5;
$brand-color-hover: #00AAD4;
$red: #FB6B5B;
$green: #92CF5C;
$white: #FFFFFF;
$blue-light: #F3F5F9;

// grays
$gray: #BBBBBB;
$border-color: darken($blue-light, 2%);

/* BREAKPOINTS */
$m320:   320px;
$m480:   480px;
$m768:   768px;
$m960:   960px;
$m1024: 1024px;
$m1200: 1200px;
$m1400: 1400px;